@using IntranetPOPS1819.Models
@model IntranetPOPS1819.ViewModel.OngletNoteDeFraisViewModel
@{
    ViewBag.Title = "Note De Frais";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("../Shared/Navbar")
<div>
    <div class="container-fluid">
    </div>
</div>

